[user]
	name = yousuk3
	email = 161000005+yousuk3@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[commit]
	template = ~/.stCommitMsg
[alias]
	ac = !git add -A && aicommits -a
